*{
    margin:0;
    padding:0;
}

 body {
  margin: 0;
  padding: 0;
  background-size: cover;
  background-position: center center;
  height: 100vh;
  background-repeat: no-repeat;
  font-family: lato;
} 

.dropdown {
    z-index: 1;
    background-color:lightgrey;
    font-family: 'Abel', sans-serif;
    height: 90px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width:100%;
    height:auto;
    
}

.selection {
  position: relative;
}

.selection ul {
    z-index: 1;
  position: absolute;
  /* background: rgb(16, 199, 132); */
  margin-top: 10px;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  list-style: none;
  border-radius: 35px; 
  opacity: 0;
  pointer-events: none;
  transform: translateY(-10px);
  transition: all 0.4s ease;
}
.dropdown button, .home{
    z-index: 1;
  background: none;
  border: none;
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 50px;
  cursor: pointer;
}

.selection li {
    background-color:rgb(16, 199, 132);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.selection li:hover {
  background-color: rgb(16, 199, 132);
}

.dropdown button:hover, .home:hover{
  color: #999;
} 


 .selection a {
  color: black;
  text-decoration: none;
} 

.selection button:focus + ul {
  opacity: 1;
  pointer-events: all;
  transform: translateY(0px);
}


h1{
    font-family: 'Abel', sans-serif;
    background-color:black;
    color:aqua;
    text-align:center;
    font-size:90px;
    font-weight: 200;
}


.footer {
  display: none;
}



/* Cool infinite background scrolling animation.
 * Twitter: @kootoopas
 */

/* Background data (Original source: https://subtlepatterns.com/grid-me/) */
/* Animations */
@-webkit-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@-moz-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@-o-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@-webkit-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
@-moz-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
@-o-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
@keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
/* Main styles */
.map-wrapper {
    z-index: 0.8;
    position:relative;
    height:100%;
    width:100%;
    color: #999;
    
    
    /* img size is 50x50 */
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAIAAACRXR/mAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABnSURBVHja7M5RDYAwDEXRDgmvEocnlrQS2SwUFST9uEfBGWs9c97nbGtDcquqiKhOImLs/UpuzVzWEi1atGjRokWLFi1atGjRokWLFi1atGjRokWLFi1af7Ukz8xWp8z8AAAA//8DAJ4LoEAAlL1nAAAAAElFTkSuQmCC") repeat 0 0;
    -webkit-animation: bg-scrolling-reverse 0.92s infinite;
    /* Safari 4+ */
    -moz-animation: bg-scrolling-reverse 0.92s infinite;
    /* Fx 5+ */
    -o-animation: bg-scrolling-reverse 0.92s infinite;
    /* Opera 12+ */
    animation: bg-scrolling-reverse 0.92s infinite;
    /* IE 10+ */
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -o-animation-timing-function: linear;
    animation-timing-function: linear;
}

#title{
    background-color:rgb(16, 199, 132);
    padding-bottom: 10px;
    border-radius:30px;
    padding-top:10px;
    margin-left:40%;
    margin-right:40%;
    color:rgb(0, 0, 0);
    text-align:center;
    content: "Sentinel";
    font-family: 'Abel', sans-serif;
    font-size: 70px;
    font-weight: 100;
    font-style: normal;
}