*{
    margin:0;
    padding:0;
}

 body {
  margin: 0;
  padding: 0;
  background-size: cover;
  
  height: 100vh;
  background-repeat: no-repeat;
  font-family: 'Abel', sans-serif;
} 

.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: 'Abel', sans-serif;
}

.navbar a {
  float: left;
  font-size: 30px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  cursor: pointer;
  font-size: 30px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
  background-color: rgb(16, 199, 132);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}


h1{
    font-family: 'Abel', sans-serif;
    background-color:black;
    color:aqua;
    text-align:center;
    font-size:90px;
    font-weight: 200;
}

h2{
    font-family: 'Abel', sans-serif;
    color:rgb(16, 199, 132);
    float:right;
    font-size:40px;
    margin-top: 9px;
    margin-right: 15px;
    
}


.box{
  margin-top: 25px;
  margin: auto;
  width: 30%;
  height: 8%;
  position: relative;
  font-size: 70px;
  display: flex;
  /* background: rgba(16, 199, 132); */
  background: none;
  border-radius:25px;
  padding:20px;
  text-align:center;
  color:rgb(0, 0, 0);
  font-family: 'Montserrat', sans-serif;
}

.box2{
  display: flex;
    margin-top: 25px;
  margin-left: 10%;
  margin-right: auto;
  width: 80%;
  height: 350;
  position: relative;
  font-size: 30px;
  background: rgba(16, 199, 132);
  border-radius:25px;
  padding:20px;
  text-align:center;
  color:rgb(0, 0, 0);
  font-family: 'Montserrat', sans-serif;
}


#footer{display:none;}



/* Cool infinite background scrolling animation.
 * Twitter: @kootoopas
 */

/* Background data (Original source: https://subtlepatterns.com/grid-me/) */
/* Animations */
@-webkit-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@-moz-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@-o-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@-webkit-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
@-moz-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
@-o-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
@keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
/* Main styles */
.map-wrapper {
    z-index: 0.8;
    position:relative;
    height:130%;
    width:100%;
    color: #999;
    
    
    /* img size is 50x50 */
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAIAAACRXR/mAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABnSURBVHja7M5RDYAwDEXRDgmvEocnlrQS2SwUFST9uEfBGWs9c97nbGtDcquqiKhOImLs/UpuzVzWEi1atGjRokWLFi1atGjRokWLFi1atGjRokWLFi1af7Ukz8xWp8z8AAAA//8DAJ4LoEAAlL1nAAAAAElFTkSuQmCC") repeat 0 0;
    -webkit-animation: bg-scrolling-reverse 0.92s infinite;
    /* Safari 4+ */
    -moz-animation: bg-scrolling-reverse 0.92s infinite;
    /* Fx 5+ */
    -o-animation: bg-scrolling-reverse 0.92s infinite;
    /* Opera 12+ */
    animation: bg-scrolling-reverse 0.92s infinite;
    /* IE 10+ */
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -o-animation-timing-function: linear;
    animation-timing-function: linear;
}

.learnmore{
    text-align:center;
    background-color: #333;
    
}

.learnmore a{
    font-size: 70px;
    text-decoration:none;
    font-family: 'Abel', sans-serif;
    color: rgb(16, 199, 132)
}

.learnmore a:hover{
    color:lightgrey;
}

#title{
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
    background-color:rgb(16, 199, 132);
    padding-bottom: 10px;
    border-radius:30px;
    padding-top:10px;
    
    color:rgb(0, 0, 0);
    content: "Sentinel";
    font-family: 'Abel', sans-serif;
    font-size: 70px;
    font-weight: bold;
    
}